#root {
    -fx-bluesky-color: #279AF1;
    -fx-mastodon-color: #8645F6;
    -fx-default-color: #4A5899;
}

.text {
    -fx-font-family: "Consolas";
}

.label {
    -fx-font-size: 14px;
    -fx-padding: 4px;
    -fx-pref-width: 96px;
}

.text-field {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-padding: 4px 8px;
    -fx-border-color: -fx-default-color;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.text-field:focus {
    -fx-border-color: -fx-bluesky-color;
}

.button.login.dialog {
    -fx-background-color: -fx-bluesky-color;
    -fx-padding: 4px 8px;
    -fx-font-size: 14px;
}

.button.login.main.bluesky {
    -fx-background-color: -fx-bluesky-color;
}

.button.login.main.mastodon {
    -fx-background-color: -fx-mastodon-color
}

.button.login.main {
    -fx-font-size: 20px;
    -fx-padding: 8px 16px;
    -fx-pref-width: 240px;
    -fx-pref-height: 28px;
}

.button.login {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 32px;
    -fx-border-radius: 12px;
    -fx-border-insets: 0;
}