.root {
  /* -fx-background-color: #130932; */
  -fx-color: white;
}

.email-field {
    -fx-padding: 8;
    -fx-border-color: rgb(72, 58, 8);
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.email-field:disabled {
    -fx-color: rgb(70, 70, 70);
}

.mastodon {
    -fx-background-color: linear-gradient(to bottom, #8645F6, #4A5899);
}

.mastodon:hover {
    -fx-background-color: #8645F6;
}

.bluesky {
    -fx-background-color: linear-gradient(to bottom, #279af1, #4A5899);
}

.bluesky:hover {
    -fx-background-color: #279af1;
}

.login-button {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 12px;
    -fx-background-insets: 0px;
    -fx-pref-width: 250px;
    -fx-pref-height: 24px;
    -fx-border-radius: 12px;
    -fx-border-insets: 0;
}

.sidebar {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20;
    -fx-spacing: 20;
}

/*.logo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#279af1, #8645f6);
}*/

.sidebar .button {
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 10 15 10 15;
}

.sidebar .button.active {
    -fx-background-color: #4caf50;
}

/* .scroll-pane .viewport {
    -fx-background-color: black;
} */

.post-card {
    -fx-background-color: white;
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 5, 0, 0, 2);
    -fx-spacing: 12;
}

.post-card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0, 0, 0)
}

/* .post-bluesky {
    -fx-background-color: #071f32;
}

.post-mastodon {
    -fx-fill: #20103b;
} */

.post-header {
    -fx-font-weight: bold;
}

.post-bluesky-marker {
    -fx-fill: #279af1;
}

.post-mastodon-marker {
    -fx-fill: #8645f6;
}

.avatar {
    -fx-fill: lightgray;   
    -fx-stroke: #ddd;     
    -fx-stroke-width: 1;
}

.error-box {
    -fx-padding: 10;
}

.error-message {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
