.root {
  -fx-background-color: #EFF1F3;
}

.email-field {
    -fx-padding: 8;
    -fx-border-color: orange;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.mastodon {
    -fx-background-color: linear-gradient(to right, #8645F6, #4A5899);
    -fx-padding: 8;
}

.bluesky {
    -fx-background-color: linear-gradient(to left, #279af1, #4A5899);
}

.login-btn {
    /* -fx-background-color:  #279af1; */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 16 28;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
    -fx-border-radius: 12;
    -fx-border-insets: 0;
}

.login-btn:hover {
    /* -fx-background-color: linear-gradient(to left, #279af1, #8645F6); */
    -fx-background-color:  #4A5899;
}

.sidebar {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20;
    -fx-spacing: 20;
}

/*.logo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#279af1, #8645f6);
}*/

.sidebar .button {
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 10 15 10 15;
}

.sidebar .button.active {
    -fx-background-color: #4caf50;
}

.post-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-padding: 10;
    -fx-spacing: 10;
}

.post-header {
    -fx-font-weight: bold;
}


.sidebar {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20
}

.bluesky-marker {
    -fx-fill: #279af1;
}

.mastodon-marker {
    -fx-fill: #8645f6;
}


.avatar {
    -fx-fill: lightgray;   
    -fx-stroke: #ddd;     
    -fx-stroke-width: 1;
}

.error-box {
    -fx-padding: 10;
}

.error-message {
    -fx-text-fill: red;
    -fx-font-size: 12px;
}
