.root {
  -fx-background-color: #EFF1F3;
}

.email-field {
    -fx-padding: 8;
    -fx-border-color: orange;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.login-btn {
    -fx-background-color: linear-gradient(to right, #00c6ff, #ffcc70);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 5 30;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
    -fx-border-color: #ffffff;     
    -fx-border-width: 8px;        
    -fx-border-radius: 12;
    -fx-border-insets: 0;
}

.sidebar {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20;
    -fx-spacing: 20;
}

/*.logo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(#007BFF, #FF7F50);
}*/

.sidebar .button {
    -fx-font-size: 14px;
    -fx-background-radius: 8;
    -fx-padding: 10 15 10 15;
}

.sidebar .button.active {
    -fx-background-color: #4caf50; /* green when active */
}

.post-card {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0, 0, 2);
    -fx-padding: 10;
    -fx-spacing: 10;
}

.post-header {
    -fx-font-weight: bold;
}


.sidebar {
    -fx-background-color: #f8f9fa;
    -fx-padding: 20
}

.bluesky-marker {
    -fx-fill: deepskyblue;
}

.mastodon-marker {
    -fx-fill: orange;
}


.avatar {
    -fx-fill: lightgray;   /* Default placeholder color */
    -fx-stroke: #ddd;      /* Optional subtle border */
    -fx-stroke-width: 1;
}
